$clear-white: #FFFFFF;
$header-btn-hover: #EFD912;
$header-btn: #1e1e1e;
$footer-bg: #2a312c;
$hover-a: #0a58ca;
$footer-a: #0d6efd;
$title: #212121;
$qt: #E7E7E7;
$msg-footer: #898989;
$about-text: #5c5c5c;